<div class="row">
    <div class="col">
        <img class="d-block w-100" src="/assets/images/about.jpg" height="400px" alt="First slide">
    </div>
</div>
<div class="row">
    <div class="col">
        <h3 class="heading text-center">WHO WE ARE</h3>
    </div>
</div>

<div class="row mb-3">
    <div class="col-sm px-4">
        <h4>Our Business Model</h4>
        <p class="text-justify">Our organization is an assembly of hardworking, experience, dynamic and dedicated professional working to provide quality and superior business solutions. We strongly stand to mediate between the jobs creators and the job seekers Our commitment,
            to promote close relationship between the employers and employees makes our organization one of the best to dealwith. We look forward in providing with the best of our services to you in days to come </p>
    </div>
    <div class="col-sm">
        <img class="d-block w-100" src="/assets/icons/main.JPG" height="400px" alt="First slide">
    </div>
</div>