section div p {
    color: #3f51b5;
    font-size: 30px;
    text-shadow: 2px 3px 5px grey;
    margin: 30px 0;
}

section div+p {
    color: #3f51b5;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 20px;
}

mat-tab-group {
    text-align: center;
}

mat-tab-group p {
    padding-top: 20px;
}

.carousel-item>img {
    width: 100%;
}

.carousel-item>img {
    height: 400px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.line {
    flex: 1;
    padding-left: 30px;
    padding-right: 30px;
}

.text {
    padding-left: 10px;
    padding-right: 10px;
    font-size: large;
}

.mat-divider {
    display: block;
    margin: 0;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: black
}

ul,
li {
    list-style: outside none none;
}

.carousel-caption {
    // top: 150;
    animation: mymove 2s linear
}

@keyframes mymove {
    from {
        top: 0px;
    }
    to {
        top: 250px;
    }
}